@mixin set-margins($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

div {
  @include set-margins(15px, 15px);
}

// Use the mixin for body and div
body {
  @include set-margins(10px, 10px);
}

